<style>
@font-face {
font-family: "MonAmourFraktur";
src: url("https://cdn.staticdelivr.com/gh/unlikelyacid/profiling/main/MonAmourFraktur-Broken.ttf") format("truetype");
font-weight: normal;
font-style: normal;
font-display: swap;
}



p {
color: green;
font-family: "MonAmourFraktur";
}

</style>
