<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
@font-face {
font-family: "MA";
src: url("./MonAmourFraktur-Broken.ttf") format("tff");
font-weight: normal;
font-style: normal;
font-display: swap;
}
</style>
